body{
    margin: 0;

}

.header{
    font-family: Arial Narrow Bold;
    color: white;
    background-color: rgb(103, 57, 76);
    padding: 10px 0 10px 30px;

}
nav{
    background-color: rgb(193, 193, 193);
    text-align: right;
    padding: 8px 0 8px 30px;

}

nav a{
    color:rgb(20, 17, 30);
    text-decoration: none;
    font-size: large;
    font-family: Arial Narrow Bold;
    font-weight: bolder;
    padding-right: 50px;
}
/* .regis{
    font-family: sans-serif;
    /* position: center; 
    top: 0%;
    left: 6000px;
    /* transform: translate(-30%, -50%); 
    background: white;
    /* padding: 100px;  
    padding-top: 30px;
    padding-left: 200px; 
    /* width: 250px; */
    /* box-shadow: 0 0 25px 10px black; 
    border-radius: 0px;
} */


.footer{
    background-color: rgb(201, 201, 201);
}